@import '../../styles/variables.css';

.contact {
  background-color: $light-grey;

  img {
    max-width: 150px;
    margin: 0 auto;
  }

  .icons {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto 2rem;

    .icon {
      display: inline-block;
      font-size: 4rem;
      color: $red;
      height: 1em;

      svg {
        display: block;
      }
    }
  }
}