@import '../../styles/variables.css';

.copyright {
  background-color: $dark-grey;
  color: $red;
  
  small {
    text-align: center;
    display: block;

    img {
      width: 15px;
      display: inline-block;
      margin-left: 5px;
    }
  }
}