@import '../../styles/variables.css';

.skills {
  background-color: $dark-grey;
  
  .max-width {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 950px
  }

  div > div {
    margin: auto;
  }

  img {
    height: 35px;    
    width: auto;
  }
}