@import '../../styles/variables.css';

.github {
  background-color: $light-grey;
  text-align: center;  
  position: relative;
  
  .loader {
    margin: 0 auto;
    display: inline-block;

    small {
      display: block;
      color: $red;
    }
  }

  .languages {
    max-width: 400px;
  }
  .libraries {
    margin-bottom: 1.5rem;
  }

  hr {
    border: 1px solid $dark-grey;
    max-width: 950px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    max-width: 950px;
    width: 80vw;
    
    li {
      width: 33%;
      margin-bottom: .5rem;
    }

    h3 {
      margin-bottom: .5rem;
      font-weight: 300;
      font-size: 1em;
      text-transform: uppercase;
    }

    span {
      display: block;
      font-weight: 600;
      font-size: 2em;
    }
  }
}

@media (min-width: 500px) {

  .github {
    .libraries {
      li {
        width: 25%;
      }
    }
  }
}
@media (min-width: 900px) {

  .github {
    .libraries {
      li {
        width: calc(100%/6);
      }
    }
  }
}